#StatusBar {
  line-height: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px #efefef solid;
  background: #fff;
  display: flex;
  justify-content: space-around;
  color: #333;
  .back,.moreOption {
    flex: 1;
    text-align: left;
    font-size: 23px;
  }
  .back {
    text-indent: 0.3rem;
  }
  .moreOption {
    text-indent: 1.3rem;
  }
  .title {
    text-align: center;
    font-size: 16px;
    flex: 2;
  }
}