#imageDetail {
  .imageDetail_site_info {
    width: 100%;
    position: relative;
    height: 1.3rem;
    .site {
      position: absolute;
      left: 0.35rem;
      top: 50%;
      width: 5.4rem;
      transform: translateY(-50%);
      img {
        width: 0.65rem;
        height: 0.65rem;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .site_name {
        font-size: 0.14rem;
        position: absolute;
        left: 1rem;
        bottom: 0;
        color: #333;
      }
      .site_time {
        font-size: 0.24rem;
        position: absolute;
        color: #888;
        left: 1rem;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 4.4rem;
        text-overflow: ellipsis;
      }
    }
  }
  .pro_info {
    padding: 0.3rem;
    border-bottom: 1px #f7f7f7 solid;
    &-title {
      color: #333;
      font-size: 0.28rem;
      text-align: left;
      font-weight: 700;
      margin-bottom: 0.2rem;
    }
    &-des {
      color: #666;
      font-size: 0.24rem;
      text-align: left;
      margin-bottom: 0.25rem;
    }
    &-tag_list {
      &-tags {
        padding: 0 0.2rem;
        font-size: 0.24rem;
        color: #888;
        text-align: center;
        background: #f7f7f7;
        line-height: 0.38rem;
        border-radius: 0.4rem;
        border: 1px #ccc solid;
        display: inline-block;
        margin: 0 0.18rem 0.18rem 0;
      }
      &-event_tags {
        background: #fff;
        border: 1px #ffcc33 solid;
        color: #ffcc33;
      }
    }
  }
  .reward {
    text-align: center;
    padding: 0.35rem 0;
    .reward_title {
      span:first-of-type, span:last-of-type {
        color: #ccc;
        font-size: 0.22rem;
      }
      span:nth-of-type(2) {
        color: #333;
        font-size: 0.24rem;
        margin: 0 0.1rem;
      }
    }
    .reward_btn {
      background: #FF8C00;
      color: #fff;
      font-size: 0.28rem;
      border-radius: 0.25rem;
      line-height: 0.6rem;
      width: 1.8rem;
      margin: 0.3rem auto;
    }
    .reward_des {
      color: #666;
      font-size: 0.24rem;
    }
  }
}