#imageDetail {
  .site_info {
    width: 100%;
    position: relative;
    height: 1.3rem;
    .site {
      position: absolute;
      left: 0.35rem;
      top: 50%;
      width: 5.4rem;
      transform: translateY(-50%);
      img {
        width: 0.65rem;
        height: 0.65rem;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .site_name {
        font-size: 0.14rem;
        position: absolute;
        left: 1rem;
        bottom: 0;
        color: #333;
      }
      .site_time {
        font-size: 0.24rem;
        position: absolute;
        color: #888;
        left: 1rem;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 4.4rem;
        text-overflow: ellipsis;
      }
    }
  }
}